<!DOCTYPE html>
<html>
<head>
   <title>My Page</title>
   <h1> {{ matches }}</h1>
</head>
<body>
   <button id="myButton" onclick="handleClick()">СТАТУС</button>

   <script>
       async function handleClick() {
           const btn = document.getElementById('myButton');
           btn.innerHTML = '<i class="fa fa-spinner fa-spin"></i>'; // Add a loading spinner
           btn.disabled = true;

           try {
               const response = await fetch('/analysis/get_value', { method: 'GET' });
               if (!response.ok) throw new Error();

               setTimeout(() => {
                  btn.innerHTML = 'ОТПРАВЛЕН';
                  btn.disabled = false;
               }, 5000);
           } catch (err) {
               btn.innerHTML = 'Error';
               btn.disabled = false;
           }
       }
   </script>
</body>
</html>
