<style>
    table {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
    }

    th, td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ddd;
    }

    th {
        background-color: #4CAF50; /* Зеленый фон для заголовков */
        color: white;
    }

    td {
        background: linear-gradient(to bottom right, #f0f8ff, #e6e6fa); /* Градиент для ячеек */
    }


</style>

<table>
    <tr>
        <th>t</th>

    </tr>
    <tr>
        <td>
            {% if who_now_win is not none %}
            1 {{ variable }}
            {% else %}
            1 else
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>2 {{ who_now_win | d('') }}</td>
    </tr>
</table>